*{
  margin: 0;
  padding: 0;

}

.main{
  width: 100%;
  background: url(../pic.jpg);
  background-position: center;
  background-size: cover;
  height: 109vh;
}

.navbar{
  width: 1200px;
   height: 75px;
   margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
    display: flex;
}

img{
height: 35px;
width: 40px;
margin-top: 10px;
border-radius:8px;
}

.logo{
  color:orangered;
  font-size: 25px;
  font-family: 'Roboto';
  padding-left: 20px;
  float: left;
  padding-top: 10px ;
}

.menu
{
  width: 400px;
  float: left;
  height: 70px;
}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 19px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins';
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: orangered ;
}

.search{
   width: 330px;
   float: left;
   margin-left: 270px;
}

.srch{
  font-family: 'Times New Roman' ;
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid orangered;
  margin-top: 13px;
  color: #fff;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-radius: 20px;
}

.btn{
width: 100px;
height: 40px;
background: orangered;
border: 2px solid orangered;
margin-top: 13px;
color: #fff;
font-size: 15px;
border-radius: 20px;
} 

.btn:focus{
  outline: none ;
}

.header__center {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.2rem;
  align-items: center;
  margin-top: 2.5rem;
}

.header__center::before,
.header__center::after {
  content: "";
  display: block;
  height: 1px;
  background-color: orangered;
}

.srch :focus{
  outline: none;
}

.content{
  width: 1200px;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative;
  align-items: center;
}

.content h1{
  text-align: center;
  font-family: 'Roboto';
  font-size: 50px;
  padding-right: 20px;
  margin-top: 2%;
  letter-spacing: 2px;
}

  .content .imgs{
    align-items: center;
    text-align: center;
    justify-content: center;
  }

.content .cn{
  width: 160px;
  height: 40px;
  background: orangered;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
}

.content .cn a{
  text-decoration: none;
  color: #000;
  transition: 3s ease;
}

.cn:hover{
  background-color: #fff ;
}

.form{
  width: 250px;
  height: 380px;
  /* background: linear-gradient(to top, rgba(0, 0, 0 ,0.8)50%, rgba(0, 0 ,0,0.8)50%); */
  position: absolute;
  top: 90px;
  left: 450px;
  border-radius: 10px;
  padding: 25px;
}
.form h3{
   width: 220px ;
   font-family: 'Poppin';
   text-align: center;
   color: orangered;
   font-size: 22px; 
}

.form input{
  width: 240px;
  height: 35px;
  background-color: #fff;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: 'Poppins';
}

.form input:focus{
  outline: none;
}

::placeholder{
  color: orangered;
  font-family: 'Poppins';
  padding: 15px;
}

.form h6{
  text-align: right;
  margin-top: 5px;
}

.form .btn{
  width: 240px;
  height: 35px;
  background: orangered;
  border: none;
  border-radius: 10px;
}

.form .btn:hover{
   background: #fff;
   color: orangered;
}

.form .btn a{
  text-decoration: none;
  color: #000;
  font-weight: bold ;
}

/* .form h5{
  text-align: center;
  color: #fff;
} */


.form .link{
  font-family: 'Poppins';
  font-size: 13px;
  padding-top: 10px;
  text-align: center;
  color: #fff;
}

.form .link span{
  color: rgb(4, 4, 59)
}

.icons{
  text-decoration: none;
  color: rgb(247, 247, 248);
}

.icons ion-icon{
  width: 44px;
  height: 30px;
  color: rgb(14, 23, 192);
  font-size: 30px;
  background-color: #fff;
  border: 6px;
  border-radius: 5px;
  margin-top: 1.5rem;
  margin-left: 25px;
}

.icon ion-icon:hover{
  color: orangered;
}